table {
  height: 50vh;
  width: 50vh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

td {
  border: 1px black solid;
  background-color: rgba(0, 0, 0, 5%);
}

.warning {
  height: 1rem;
}

/* td {
  height: 50px;
  width: 50px;
} */

/* .tictac {
  height: 100px;
} */
