html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  align-items: top;
  justify-content: center;
  text-align: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.player-score {
  font-size: 6vh;
  border: 1px black solid;
  width: 10vh;
  height: 10vh;
}

.player-avatar {
  width: 15vh;
  height: 15vh;
  border: 2px black solid;
}

#player-x-avatar {
  background-color: blue;
}

#player-o-avatar {
  background-color: green;
}

.column {
  width: 30vw;
}

.table-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert {
  height: 1rem;
}

table {
  height: 50vh;
  width: 50vh;
}

td {
  border: 1px black solid;
  background-color: rgba(0, 0, 0, 5%);
}
